form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: gainsboro;
    height: 250px;
    width: 650px;
    margin-left: 300px;
    gap: 10px;
    border-radius: 10px;

}

select {
    width: 100px;
    height: 20px;
    margin-left: 70px;


}

input {
    width: 500px;
    height: 30px;
    margin-left: 70px;

}

label {
    margin-left: 70px;
}

#form {
    display: none;
}

#addToLibrary {
    width: 200px;
    margin-left: 300px;
}